<dan@berrange.com> <berrange@redhat.com>
<anthony@codemonkey.ws> <anthony@rhesus>
<anthony@codemonkey.ws> <anthony@squirrel>
<marcandre.lureau@gmail.com> <marcandre.lureau@redhat.com>
<jwendell@gnome.org> <wendell@bani.com.br>
