Source: gtk-vnc
Section: gnome
Priority: optional
XS-Python-Version: >= 2.4
Maintainer: Guido Guenther <agx@sigxcpu.org>
Standards-Version: 3.7.3
Build-Depends: cdbs, debhelper, python-central, libgtk2.0-dev,
 python-all-dev, libgnutls-dev (>= 1.4.0), python-gtk2-dev (>= 2.0),
 libgtkglext1-dev (>= 1.2.0), libxul-dev (>= 1.8), autotools-dev, quilt,
 automake, autoconf, libffi-dev

Package: libgtk-vnc-1.0-0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A VNC viewer widget for GTK+ (runtime libraries)
 It is built using coroutines, allowing it to be completely asynchronous while
 remaining single threaded. It supports RFB protocols 3.3 through 3.8 and the 
 VeNCrypt authentication extension providing SSL/TLS encryption with x509 
 certificate authentication.
 .
 The core library is written in C and a binding for Python using PyGTK is
 available. The networking layer supports connections over both IPv4 and IPv6.
 .
 This package contains the shared library.

Package: libgtk-vnc-1.0-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libgtk-vnc-1.0-0 (= ${binary:Version}),
 libgtk2.0-dev (>= 2.0), libgnutls-dev (>= 1.4.0), ligtkglext1-dev (>= 1.2.0)
Description: A VNC viewer widget for GTK+ (development files)
 It is built using coroutines, allowing it to be completely asynchronous while
 remaining single threaded. It supports RFB protocols 3.3 through 3.8 and the 
 VeNCrypt authentication extension providing SSL/TLS encryption with x509 
 certificate authentication.
 .
 The core library is written in C and a binding for Python using PyGTK is
 available. The networking layer supports connections over both IPv4 and IPv6.
 .
 This package contains the development headers.

Package: python-gtk-vnc
Architecture: any
Section: python
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-gtk2 (>= 2.0)
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: A VNC viewer widget for GTK+ (Python binding)
 It is built using coroutines, allowing it to be completely asynchronous while
 remaining single threaded. It supports RFB protocols 3.3 through 3.8 and the 
 VeNCrypt authentication extension providing SSL/TLS encryption with x509 
 certificate authentication.
 .
 The core library is written in C and a binding for Python using PyGTK is
 available. The networking layer supports connections over both IPv4 and IPv6.
 .
 This package contains the Python binding.

Package: mozilla-gtk-vnc
Architecture: any
Section: web
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtk-vnc-1.0-0 (= ${binary:Version}),
 iceweasel | iceape-browse
Description: A VNC viewer widget for GTK+ (mozilla plugin)
 It is built using coroutines, allowing it to be completely asynchronous while
 remaining single threaded. It supports RFB protocols 3.3 through 3.8 and the 
 VeNCrypt authentication extension providing SSL/TLS encryption with x509 
 certificate authentication.
 .
 The core library is written in C and a binding for Python using PyGTK is
 available. The networking layer supports connections over both IPv4 and IPv6.
 .
 This package contains the experimental mozilla plugin.

